<h2>Edit User:</h2>
<form action="/user/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="username">Username:</label><br>
      <input id="username" type="text"  size="35" name="user[username]" value="<%= @user.username %>"/>
    </li>
    <br>
    <li>
      <label for="email">Email:</label><br>
      <input id="email" type="text"  size="35" name="user[email]" value="<%= @user.email %>"/>
    </li>
    <br>
    <li>
      <label for="location">Location:</label><br>
      <input id="location" type="text"  size="35" name="user[location]" value="<%= @user.location %>"/>
    </li>
  </ul>
  <br>
  <input type="submit" value="Submit Changes"/>
</form>
<br>
<form method="post" action="/user/<%= @user.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete User"/>
</form>
