<head>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
</head>
<h2>Edit User:</h2>
<div class="edit-user">
  <form action="/user/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
      <label for="username">Username:</label>
      <input id="username" type="text"  size="35" name="user[username]" value="<%= @user.username %>"/>
      <label for="email">Email:</label>
      <input id="email" type="text"  size="35" name="user[email]" value="<%= @user.email %>"/>
      <label for="location">Location:</label>
      <input id="location" type="text"  size="35" name="user[location]" value="<%= @user.location %>"/>
    <input type="submit" value="Submit Changes" class="form-button"/>
  </form>
  <form method="post" action="/user/<%= @user.id %>">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete User" class="form-button"/>
  </form>
</div>
