<h1><%= @trail.name%> in <%= @trail.location %></h1>
<br>
<ul>
  <li><b>Trail Length:</b> <%= @trail.miles %> miles</li>
  <li><b>Elevation Gain:</b> <%= @trail.elevation_gain %> feet</li>
  <li><b>Trail Difficulty:</b> <%= @trail.difficulty %></li>
</ul>
<br>
<form action="/account/<%= @user_id %>" method="post">
  <% if @user_trail == nil%>
      <input type="checkbox" name="favorite" value="favorite"> Favorite<br>
      <input type="checkbox" name="completed" value="completed"> Completed<br>
    <% elsif @user_trail.favorite == "favorite" && @user_trail.completed == "completed"%>
      <input type="checkbox" name="favorite" value="favorite" checked> Favorite<br>
      <input type="checkbox" name="completed" value="completed" id="completed" checked> Completed<br>
    <% elsif @user_trail.favorite == "favorite" && @user_trail.completed == nil%>
      <input type="checkbox" name="favorite" value="favorite" checked> Favorite<br>
      <input type="checkbox" name="completed" value="completed"> Completed<br>
    <% else%>
      <input type="checkbox" name="favorite" value="favorite"> Favorite<br>
      <input type="checkbox" name="completed" value="completed" id="completed" checked> Completed<br>
  <% end %>

  <input type="hidden" name="trail_id" value="<%= @trail.id %>" />
  <input type="submit" value="Save">
</form>

<br>
<a href="/trails/<%=@trail.id%>/edit">Edit Trail </a>
